:root{
  --background: #12171D;
  --shadow-dark: #000000;
  --shadow-light: #12171D;
  --text-color: #BBC4C8;
}
html,
body {
  background: var(--background);
  color: var(--text-color);
  height: 100%;
}

.container {
  height: 100%;
  justify-content: center;
}

.head, .container, .bookmarks, .category {
  display: flex;
  flex-direction: column;
}

.category {
  width: 150px;
}

.bookmark {
  display: flex;
  justify-content: space-evenly;
}

.bookmarks {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bookmarks, .search_box{
  box-shadow: 5px 5px 15px 0 var(--shadow-dark), -5px -5px 15px 0 var(--shadow-light);
}

.logo {
  align-self: center;
  padding: 15px;
}

.icon {
  align-self: center;
  justify-content: center;
  margin: 80px;
}


.input_box {
  border: none;
  outline: none;
  background: none;
  padding-right: 15px;
  padding-left: 15px;
  width: 300px;
  color: whitesmoke;
  font-size: 22px;
  border-radius: 0px 0px 0px 0px;
  height: 70px;
}

.button {
  background: none;
  border: none;
  transition-duration: 0.6s;
  position: absolute;
  padding-left: 11px;
  padding-right: 12px;
  height: 70px;
  opacity: 60%;
}

.engine {
  background: none;
  padding-left: 12px;
  padding-right: 11px;
  border: none;
  transition-duration: 0.6s;
  position: relative;
  opacity: 60%;
}

form, html, body {
  margin: 0px;
  padding: 0px;
}

.search_box {
  display: flex;
  width: 500px;
  background: #12171D;
  position: relative;
  padding: 0px;
  margin-bottom: 40px;
  border-radius: 3px 3px 3px 3px;
  align-self: center;
  height: 70px;
}

.engine:hover {
  filter: saturate(150%) brightness(120%) !important;
  opacity: 100%;
}

.button:hover {
  filter: saturate(150%) brightness(120%) !important;
  opacity: 100%;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px
}

a:link {
  text-decoration: none;
  color: #8F9191;
}

a:visited {
  color: #8F9191;
}

a:hover {
  color: #BD3CD3;
}

div.bookmarks.cod a:hover {
  color: #00CF35;
}

div.bookmarks.doc a:hover {
  color: #FF8A00;
}

div.bookmarks.ent a:hover {
  color: #FF492F;
}

div.bookmarks.mus a:hover {
  color: #00B8FF;
}

div.bookmarks.art a:hover {
  color: #FF62CE;
}

.weather-section{
  display: flex;
  align-self: center;
  font-size: 50px;
  margin: 10px;
}